<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div>Dear Sir,</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;New NPA created in customer recovery please find the below details</div>
    <br>
    <div>
        <table dir="ltr" style="color: #2B82AD; border: 1px solid #1793d1; border-collapse: collapse; padding-left: 50px">
            <tr>
                <td style="color: #FFFFFF; font-weight: bold; width: 50px; padding: 5px; border: 1px solid #1793d1; background-color: #1793d1">S.No.</td>
                <td style="color: #FFFFFF; font-weight: bold; padding: 5px; border: 1px solid #1793d1; background-color: #1793d1">NPA Details</td>
                <td style="color: #FFFFFF; font-weight: bold; padding: 5px; border: 1px solid #1793d1; background-color: #1793d1">DATE : 20-11-2015</td>
            </tr>
            ##CONTENT##
            <!--<tbody>
                <tr>
                    <td>1</td>
                    <td>Bank</td>
                    <td>:&nbsp;#BANK#</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Branch</td>
                    <td>:&nbsp;#BRANCH#</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Account Number</td>
                    <td>:&nbsp;#ACCOUNTNUMBER#</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Borrower Name & Address</td>
                    <td>:&nbsp;#BORROWER_NAME_ADDRESS#</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Cell Number :</td>
                    <td>:&nbsp;#CELLNUMBER#</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Guarantor Name & Address</td>
                    <td>:&nbsp;#GUARANTOR_NAME_ADDRESS#</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Date Of Sanction</td>
                    <td>:&nbsp;#DATE_OF_SANCTION#</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Purpose Of Loan</td>
                    <td>:&nbsp;#PURPOSE_OF_LOAN#</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Security Details</td>
                    <td>:&nbsp;#SECURITY_DETAILS#</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Out Standing Balance</td>
                    <td>:&nbsp;#OUT_STANDING_BALANCE#</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Legal Demand /Notice issued</td>
                    <td>:&nbsp;#LEGAL_DEMAND_ISSUED#</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Date</td>
                    <td>:&nbsp;#DATE#</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Is Active</td>
                    <td>:&nbsp;#IS_ACTIVE#</td>
                </tr>
            </tbody>-->
        </table>
    </div>
    <br>
    <br>
    <div style="text-decoration: underline">Thanks & Regards</div>
    <div style="color: #4cae4c;font-weight:bold">Kommineni Consultants Pvt. Ltd.</div>
    <div>Customer Recovery.</div>
</body>
</html>
