<!DOCTYPE html>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head><title></title></head>
<body>
    <div>Dear Sir/Madam,</div>
    <div>&nbsp;&nbsp;&nbsp;&nbsp;New Recovery Bill Details created in customer recovery please find the below details</div>
    <br>
    <div>
        <table dir='ltr' style='color: #2B82AD; border: 1px solid #1793d1; border-collapse: collapse; padding-left: 50px'>
            <tr>
                <td style='color: #FFFFFF; font-weight: bold; width: 50px; padding: 5px; border: 1px solid #1793d1; background-color: #1793d1'>S.No.</td>
                <td style='color: #FFFFFF; font-weight: bold; padding: 5px; border: 1px solid #1793d1; background-color: #1793d1'>Details</td>
                <td style='color: #FFFFFF; font-weight: bold; padding: 5px; border: 1px solid #1793d1; background-color: #1793d1'>DATE : #DATE#</td>
            </tr>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Executive</td>
                    <td>:&nbsp;#EXECUTIVE#</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Borrower Name</td>
                    <td>:&nbsp;#BORROWER_NAME#</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Account Number</td>
                    <td>:&nbsp;#ACCOUNTNUMBER#</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Bank</td>
                    <td>:&nbsp;#BANK#</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Branch</td>
                    <td>:&nbsp;#BRANCH#</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Loan Amount</td>
                    <td>:&nbsp;#LOAN_AMOUNT#</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Previous Recovered Amount</td>
                    <td>:&nbsp;#PREVIOUS_RECOVERED_AMOUNT#</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Amount Recovered</td>
                    <td>:&nbsp;#AMOUNT_RECOVERED#</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Balance Amount</td>
                    <td>:&nbsp;#BALANCE_AMOUNT#</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Recovered Date</td>
                    <td>:&nbsp;#RECOVERED_DATE#</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Recovered Amount Commission(%)</td>
                    <td>:&nbsp;#RECOVERED_AMOUNT_COMMISSION#</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Service Tax(%)</td>
                    <td>:&nbsp;#SERVICE_TAX#</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Board Charges</td>
                    <td>:&nbsp;#BOARD_CHARGES#</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Transport Charges</td>
                    <td>:&nbsp;#TRANSPORT_CHARGES#</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Valuation Charges</td>
                    <td>:&nbsp;#VALUATION_CHARGES#</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Surveyor Charges</td>
                    <td>:&nbsp;#SURVEYOR_CHARGES#</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Property Identification Charges</td>
                    <td>:&nbsp;#PROPERTY_IDENTIFICATION_CHARGES#</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Investigation Charges</td>
                    <td>:&nbsp;#INVESTIGATION_CHARGES#</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Miscellaneous Charges</td>
                    <td>:&nbsp;#MISCELLANEOUS_CHARGES#</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Total Commission</td>
                    <td>:&nbsp;#TOTAL_COMMISSION#</td>
                </tr>
                <tr><td>21</td><td>Bank Range Type</td><td>:&nbsp;#BANK_RANGE_TYPE#</td></tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>
    <div style='text-decoration: underline'>Thanks & Regards</div>
    <div style='color: #4cae4c; font-weight: bold'>Kommineni Consultants Pvt. Ltd.</div>
    <div>Customer Recovery.</div>
    <br />
    <br />
    <div><span style='color: red'>Note: </span>This is auto generated mail, Please do not replay to this mail</div>
</body>
</html>
